.sidebar_hide_btn{
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;

    svg{
        width: 20px;
        height: 20px;
    }
}
.task_option_list{
    li{
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;

        .task_top{
            .content{
                span{
                    margin-right: 5px;
                }
            }
        }
        .actions{
            font-size: 20px;
        }
    }
}

.task_extra_details{
    margin-top: 5px;
    li{
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;  
        margin: 5px 0;

        span{
            margin-left: 5px;
        }

        &.complete_date{
            background-color: var(--primary-color);
            color: #fff;
        }
    }
}

.single_action_wrap{
    gap: 5px;
    .delete_btn{
        background-color: var(--red) !important;
        border-color: var(--red) !important;
    }
    .edit_btn{
        background-color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
    }
}